<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="addresource" class="container">
        <div>
            <form action="/addresource" method="post" enctype="multipart/form-data">
                <h1>Add Resource</h1>
                <% if(error) { %>
                    <p class="error"><%= message %></p>
                <% } %>
                <div class="form-input">
                    <label for="">Resource Title</label>
                    <input type="text" name="rsctitle" id="" required value="<%= resourceInfo.title %>">
                </div>
                <div class="form-input">
                    <label for="">Brief Resource Definition</label>
                    <textarea name="learndefinition" id="" required value="<%= resourceInfo.definition %>" cols="30" rows="3"></textarea>
                </div>
                <div class="form-input">
                    <label for="">Resource code (no spacing)</label>
                    <input type="text" name="resource" id="" required value="<%= resourceInfo.resource %>">
                </div>
                <div class="form-input">
                    <label for="">File Name (pdf only)</label>
                    <input type="file" name="route" id="" required accept=".pdf" value="<%= resourceInfo.filename %>">
                </div>
                <input type="submit" value="Add Resource"><br>
                <a href="/viewresource">Cancel</a>
            </form>
        </div>
    </main>
<%- include('partials/footer') %>