<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="adminhome" class="container">
        <h2><%= locals.username %></h2>
    </main>
<%- include('partials/footer') %>