<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="adminviewresource" class="container">
        <div>
            <h1>Admin Manager</h1>
            <div class="manhead">
                <div id="editmininav">
                    <h1>Total Admins: <%= results.length %></h1>
                    <a href="/studentmanager" class="btn41-43 btn-41"><img src="images/student.png" alt="">Go to student manager</a>
                </div>
                <table>
                    <thead>
                        <th colspan="2"><i>Color Code:</i></th>
                        <tr>
                            <th class="resourceactive">Active</th>
                            <th class="resourceinactive">Inactive</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <% if(error) { %>
                <p class="error"><%= message %></p>
            <% } %>
            
            <% results.forEach(result => { %>
                <div class="resourcesMain">
                    <div class="resourceid">
                        <p><%= results.indexOf(result)+1 %>. EA<%= result.a_id %>-<%= result.created_at.toLocaleDateString("en-US", { year: "numeric" }).slice(-2) %> <%= result.name %></p>
                        <div class="activate">
                            <form action="/activateadmin/<%= result.a_id %>" method="post">
                                <input class="activateuser" type="submit" value="Activate">
                            </form>
                            <form action="/deactivateadmin/<%= result.a_id %>" method="post">
                                <input class="deactivateuser" type="submit" value="Deactivate">
                            </form>
                        </div>
                    </div>
                    <div class="resources resource<%= result.isactive %>">
                        <div class="resourceInfo">
                            <p>Email: <%= result.email %></p>
                        </div>
                        <div class="resourceInfo">
                            <p><%= result.isactive %></p>
                        </div>
                        <div class="resourceInfo">
                            <p>Joined on: <%= result.created_at.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric" }) %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
<%- include('partials/footer') %>