<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="adminviewresource" class="container">
        <div>
            <div id="editmininav"><h1>Total Admins: <%= results.length %></h1></div>
            <% results.forEach(result => { %>
                <div class="resourcesMain">
                    <div class="resourceid">
                        <p><%= results.indexOf(result)+1 %>. EA/<%= result.a_id %>/<%= result.created_at.toLocaleDateString("en-US", { year: "numeric" }).slice(-2) %> <%= result.name %></p>
                        <div class="edit-delete">
                            <form action="/deleteadmin/<%= result.a_id %>" method="post">
                                <input type="submit" value="Delete Admin">
                            </form>
                        </div>
                    </div>
                    <div class="resources">
                        <div class="resourceInfo">
                            <p>Email: <%= result.email %></p>
                        </div>
                        <div class="resourceInfo">
                            <p>Joined on: <%= result.created_at.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric" }) %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
<%- include('partials/footer') %>