<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="adminhome" class="container">
        <div>
            <h2>Tutor: <i><%= locals.username %></i></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum officiis iusto ullam dignissimos architecto. Perferendis, corrupti. Doloremque voluptas cum veritatis explicabo eveniet dolor deserunt!</p>
        </div>
        <div id="adminview">
            <div class="actualviews"><a href="/viewstudent"><img src="https://res.cloudinary.com/dlkqilyi0/image/upload/v1674150044/Images/students_ymxwed.jpg" alt=""><h1 class="cardtitle">students</h1></a></div>
            <div class="actualviews"><a href="/viewresource"><img src="https://res.cloudinary.com/dlkqilyi0/image/upload/v1674150045/Images/resources_tx00v4.jpg" alt=""><h1 class="cardtitle">resources</h1></a></div>
            <div class="actualviews"><a href="/viewremark"><img src="https://res.cloudinary.com/dlkqilyi0/image/upload/v1674150045/Images/remarks_c8ub3r.png" alt=""><h1 class="cardtitle">Remarks</h1></a></div>
        </div>
    </main>
<%- include('partials/footer') %>