<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="chatroom" class="container">
        <div class="chats">
            <button id="scroll-to-bottom-button"><img src="images/scroll.png" alt=""></button>

            <% results.forEach(result => { %>
                <div class="chatMain">
                    <div class="userInfo">
                        <p class="nameId uiTitle"><%= result.s_name %></p>
                        <p class="time uiTitle"><%= result.created_at.toLocaleString() %></p>
                    </div>
                    <div class="message">
                        <p class="messages"><%= result.chat %></p>
                    </div>
                </div>
            <% }) %>
        </div>
        <% if(admin) { %>
            <form action="/clearchats" method="post">
                <input type="submit" value="Clear chats">
            </form>
        <% } %>
        <form action="/sendmessage" method="post" id="form">
            <% if(admin) { %>
                <input type="hidden" name="username" value="Tutor: <%= locals.username %>">
            <% } else { %>
                <input type="hidden" name="username" value="<%= locals.username %>">
            <% } %>
            <input type="text" name="message" id="" required>
            <input type="submit" value="Send message">
        </form>
    </main>
<%- include('partials/footer') %>