<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main class="terms_privacy_conduct container">
        <h1>Code of Conduct</h1>
        <h2>1. Respectful and Inclusive Environment:</h2>
        <ul>
            <li>Treat others with respect, kindness, and empathy.</li>
            <li>Avoid offensive, discriminatory, or harassing language or behavior.</li>
            <li>Be inclusive and welcoming to individuals from diverse backgrounds.</li>
            <li>Encourage open and constructive discussions.</li>
        </ul>
        <h2>2. Privacy and Security:</h2>
        <ul>
            <li>Protect the privacy and personal information of users.</li>
            <li>Safeguard sensitive data and ensure secure communication.</li>
            <li>Comply with relevant data protection laws and regulations.</li>
        </ul>
        <h2>3. Lawful and Ethical Use:</h2>
        <ul>
            <li>Comply with all applicable laws, regulations, and policies.</li>
            <li>Respect intellectual property rights and avoid unauthorized use of content.</li>
            <li>Do not engage in illegal or unethical activities.</li>
        </ul>
        <h2>4. User Responsibilities:</h2>
        <ul>
            <li>Use the website responsibly and refrain from disruptive or abusive behavior.</li>
            <li>Do not engage in any unauthorized access, hacking, or attempts to compromise security.</li>
            <li>Report any vulnerabilities or security concerns responsibly.</li>
        </ul>
        <h2>5. Content Guidelines:</h2>
        <ul>
            <li>Post content that is relevant, accurate, and respectful.</li>
            <li>Do not post or share offensive, misleading, or inappropriate content.</li>
            <li>Respect intellectual property rights when sharing content.</li>
        </ul>
        <h2>6. Moderation and Enforcement:</h2>
        <ul>
            <li>The website administrators have the right to moderate and enforce these guidelines.</li>
            <li>Violations of the Code of Conduct may result in warnings, suspensions, or account termination.</li>
        </ul>
        <h2>7. Reporting:</h2>
        <ul>
            <li>Report any violations of the Code of Conduct to the website administrators.</li>
            <li>Provide detailed information and evidence when reporting incidents.</li>
        </ul>
        <h2>8. Continuous Improvement:</h2>
        <ul>
            <li>The website administrators may update or modify the Code of Conduct as needed.</li>
            <li>Users are encouraged to provide feedback and suggestions for improvement.</li>
        </ul>
        <p>By using the website, you agree to abide by this Code of Conduct. Failure to comply with these guidelines may result in disciplinary actions.</p>
    </main>
    <%- include('partials/footermain') %>
<%- include('partials/footer') %>  