<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="home" class="container">
        <h1>Welcome, <%= locals.username %>! You have successfully logged in.</h1>
    </main>
<%- include('partials/footer') %>