<%- include('partials/header')%>
    <%- include('partials/preloader')%>
    <main id="login-form">
        <form action="/login" method="post">
            <h1><img src="/images/login.png" alt="" class="signInUpIMG">signin</h1>
            <% if(error) { %>
                <p class="error"><%= message %></p>
            <% } %>
            <input type="email" name="email" id="" value="<%= user.email %>" placeholder="Email Address" required>
            <input type="password" name="password" id="" value="<%= user.password %>" placeholder="Password" required >
            <input type="submit" value="signin">
            <div class="form-btwn">
                <a href="/signup" class="btn41-43 btn-41" >signup</a>
                <a href="/adminlogin" class="btn41-43 btn-41" >tutor Signin</a>
            </div>
        </form>
    </main>
<%- include('partials/footer')%>