<%- include('partials/header')%>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="newpassword">
        <form action="/newpassword" method="post">
            <h2>Password Reset</h2>
            <p>Set your new password to regain access to your account.</p>
            <% if(error) { %>
                <p class="error"><%= message %></p>
            <% } %>
            <input type="password" name="password" id="" value="<%= user.password %>" placeholder="New Password" required>
            <input type="password" name="confirmPassword" id="" value="<%= user.confirmPassword %>" placeholder="Confirm New Password" required>
            <input type="submit" value="Change Password">
            <a href="/login" class="btn41-43 btn-41" >Back to Login</a>
        </form>
    </main>
<%- include('partials/footer')%>
