<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="pdf" class="container">
        <div id="miniNav">
            <a href="/learn">UNITS</a>
            <a href="/progress">PROGRESS</a>
        </div>
        <div id="pdfView">
            <embed src="/docs/<%= routes.route %>" type="application/pdf"/>
            <div>
                <h1><%= routes.resource %></h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores itaque est delectus eius. Doloribus ipsam est in nulla maxime officia perspiciatis expedita dolore officiis maiores, ratione nisi voluptatum voluptates ea?</p>
                <a href="/remark/<%= routes.resource %>">Leave a remark</a>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>