<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="pdf" class="container">
        <div id="miniNav">
            <a href="/learn">UNITS</a>
            <a href="/progress">PROGRESS</a>
        </div>
        <div id="pdfView">
            <embed src="/uploads/<%= routes.route %>" type="application/pdf"/>
            <div>
                <h1><%= routes.rsctitle %></h1>
                <p><%= routes.learndefinition %></p>
                <a href="/remark/<%= routes.resource %>">Leave a remark</a>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>