<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main class="container" id="progress">
        <h1>Well Done Your progress is amazing you logged in <%= locals.id %> times</h1>
    </main>
<%- include('partials/footer') %>