<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main class="container" id="progress">
        <div>
            <h1>Progress Tab</h1>
        </div>
        <div id="progressProfile">
            <img src="/uploads/<%= profile.profilePic %>" alt="progressProfileImg">
            <h2><%= profile.name %></h2>
            <h4>Learning Progress: <span id="learn"><%= profile.learn %></span></h4>
            <p>
                <b>Remark:</b> 
                <% if(profile.learn >= 15) { %> 
                    Well done!&#x1F60A;
                <% } else if(profile.learn >= 10) { %>
                    Keep Up!&#x1F603;
                <% } else if(profile.learn >= 5) { %>
                    Work Hard!&#x1F616;
                <% } else if(profile.learn >= 2) { %>
                    Be more Serious!&#x1F612;
                <% } else { %>
                    Go and learn dummy!&#128544;
                <% } %>
            </p>
        </div>
        <a href="/editMyProfile">Edit My Profile</a>
    </main>
<%- include('partials/footer') %>