<%- include('partials/header')%>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="resetpassword">
        <form action="/resetpassword" method="post">
            <h2>Password Reset</h2>
            <p>Please enter your email address below. We will send you a verification code to reset your password.</p>
            <% if(error) { %>
                <p class="error"><%= message %></p>
            <% } %>
            <input type="email" name="email" id="" value="<%= user.email %>" placeholder="Email Address" required>
            <input type="submit" value="Send Code">
            <a href="/login" class="btn41-43 btn-41" >Back to Login</a>
        </form>
    </main>
<%- include('partials/footer')%>
