<%- include('partials/header')%>
    <%- include('partials/preloader')%>

    <main id="signup">
        <form action="/signup" method="post">
            <h1><img src="/images/add-user.png" alt="" class="signInUpIMG">SignUp</h1>
            <% if(error) {%>
                <p class="error"><%= message %></p>
            <% } %>
            <input type="text" name="fullname" id="" value="<%= user.name %>" placeholder="Full Name" required>
            <input type="email" name="email" id="" value="<%= user.email %>" placeholder="Email Address" required>
            <input type="password" name="password" id="" value="<%= user.password %>" placeholder="Password" required >
            <input type="password" name="confirmPassword" id="" value="<%= user.confirmPassword %>" placeholder="Confirm Password" required >
            <input type="submit" value="signup">
            <div class="form-btwn">
                <a href="/login" class="btn41-43 btn-41" >Signin</a>
                <a href="/adminsignup" class="btn41-43 btn-41" >tutor signup</a>
            </div>
            
        </form>
    </main>

<%- include('partials/footer')%>