<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="adminviewresource" class="container">
        <div>
            <h1>Student Manager</h1>
            <div class="manhead">
                <div id="editmininav">
                    <h1>Total students: <%= results.length %></h1>
                    <a href="/adminmanager" class="btn41-43 btn-41"><img src="images/manage.png" alt="">Go to admin manager</a>
                </div>
                <table>
                    <thead>
                        <th colspan="2"><i>Color Code:</i></th>
                        <tr>
                            <th class="resourceactive">Active</th>
                            <th class="resourceinactive">Inactive</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <% results.forEach(result => { %>
                <div class="resourcesMain">
                    <div class="resourceid">
                        <p><%= results.indexOf(result)+1 %>. ES<%= result.s_id %>-<%= result.timestamp.toLocaleDateString("en-US", { year: "numeric" }).slice(-2) %> <%= result.name %></p>
                        <div class="activate">
                            <form action="/activatestudent/<%= result.s_id %>" method="post">
                                <input class="activateuser" type="submit" value="activate">
                            </form>
                            <form action="/deactivatestudent/<%= result.s_id %>" method="post">
                                <input class="deactivateuser" type="submit" value="Deactivate">
                            </form>
                        </div>
                    </div>
                    <div class="resources  resource<%= result.isactive %>">
                        <div class="resourceInfo">
                            <p>Email: <%= result.email %></p>
                        </div>
                        <div class="resourceInfo">
                            <p>Gender: <%= result.gender %></p>
                        </div>
                        <div class="resourceInfo">
                            <p><%= result.isactive %></p>
                        </div>
                        <div class="resourceInfo">
                            <p>Learn Progress: <%= result.learn %></p>
                        </div>
                        <div class="resourceInfo">
                            <p>Joined on: <%= result.timestamp.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric", hour: "numeric", minute: "numeric" }) %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
<%- include('partials/footer') %>