<%- include('partials/header')%>
    <%- include('partials/preloader')%>
    <main id="superadminlogin">
        <form action="/superadminlogin" method="post">
            <h1><img src="/images/login.png" alt="" class="signInUpIMG">Super Admin</h1>
            <p>This page can only be accessed by super Admin <br> Enter the super admin pin number to Continue</p>
            <% if(error) {%>
                <p class="error"><%= message %></p>
            <% } %>
            <input type="password" name="superadminpin" id="" required value="<%= superadmin.pin %>" placeholder="Enter Super Admin Pin">
            <input type="submit" value="Continue">
            <a href="/" class="btn41-43 btn-41"><img src="images/home.png" alt=""> Back home</a>
        </form>
    </main>
<%- include('partials/footer')%>