<%- include('partials/header') %>
    <%- include('partials/preloader')%>
    <%- include('partials/nav') %>
    <main id="adminviewresource" class="container">
        <div>
            <div id="rscmininav">
                <div id="editmininav"><h1>Total resources: <%= results.length %></h1></div>
                <div id="editmininav"><a href="/addresource" class="btn41-43 btn-41">add resources</a></div>
            </div>
            <% results.forEach(result => { %>
                <div class="resourcesMain">
                    <div class="resourceid">
                        <p><%= results.indexOf(result)+1 %>. <%= result.rsctitle %></p>
                        <div class="edit-delete">
                            <a href="/editresource/<%= result.resource %>">Edit</a>
                            <form action="/delete/<%= result.resource %>" method="post">
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                    <div class="resources">
                        <div class="resourceInfo">
                            <p>
                                <b>No. of times used: </b> 
                                <% if(result.opened > 0) { %>
                                    <%= result.opened %>
                                <% } else { %>
                                    <i>Never</i>
                                <% } %>
                            </p>
                        </div>
                        <div class="resourceInfo">
                            <p>
                                <b>No. of remarks: </b>
                                <% if(result.totalremarks > 0) { %>
                                    <%= result.totalremarks %>
                                <% } else { %>
                                    <i>None</i>
                                <% } %>
                            </p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
<%- include('partials/footer') %>